@font-face {
    font-family: 'Metronic Pro';
    src: url('../fonts/MetronicPro.eot');
    src: local('../fonts/Metronic Pro SemiBold'), local('../fonts/MetronicPro'),
        url('../fonts/MetronicPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetronicPro.woff2') format('woff2'),
        url('../fonts/MetronicPro.woff') format('woff'),
        url('../fonts/MetronicPro.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }