// Generic styles.
.txt-green {
  color: #66FF66;
}

.txt-red {
  color: orangered;
}

// DOM Styles.

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #021032;
  color: white;
  font-family: 'Metronic Pro';
}

header {
  width: 100vw;
  height: 250px;
  background-image: url("../img/banner-logo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  border: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-image: radial-gradient(transparent, #5d9dce, transparent) 1;
}

section {
  background: url("../img/bg-pattern.png") repeat-x;
}

/* GAME - Selection */

#heroes-selection h2 {
  margin: 0;
  padding: 25px 0;
}

#heroes,
#monsters {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero-card-container,
.monster-card-container {
  width: 25%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
    
  .hero-card,
  .monster-card {
      position: relative;
      background-color: #020c26;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, .1);
      
      &::after {
          content: '';
          position: absolute;
          background: linear-gradient(360deg, transparent, #ff4b0f);
          top: -35%;
          height: 100%;
          width: 100%;
          z-index: 0;
      }
  }

  img.portrait-card {
      border: 0;
      border-bottom-width: 2px;
      border-style: solid;
      border-image: radial-gradient(transparent, #a357fe, transparent) 1;
  }

    
  .hero-card .hero-role,
  .monster-card .monster-role {
      text-align: center;
      font-size: .8rem;
  }

  &.warrior {
    
      .portrait-card {
          border-image: radial-gradient(transparent, #feba00, transparent) 1;
      }

      .hero-card {

          .monster-role, 
          .hero-role {
              color: #feba00;
          }
      
          &::after {
              background: linear-gradient(360deg, transparent, #feba00);
          }
      }
  }

  &.assasin {
    
      .portrait-card {
          border-image: radial-gradient(transparent, #bf0000, transparent) 1;
      }


      .hero-card {

          .monster-role, 
          .hero-role {
              color: #bf0000;
          }
      
          &::after {
              background: linear-gradient(360deg, transparent, #bf0000);
          }
      }
  }

  &.magician {
    
      .portrait-card {
          border-image: radial-gradient(transparent, #0c7cfe, transparent) 1;
      }

      .hero-card {

          .monster-role, 
          .hero-role {
              color: #0c7cfe;
          }
      
          &::after {
              background: linear-gradient(360deg, transparent, #0c7cfe);
          }
      }
  }

  &.archer {
    
      .portrait-card {
          border-image: radial-gradient(transparent, #cb98fe, transparent) 1;
      }

      .hero-card {

          .monster-role, 
          .hero-role {
              color: #cb98fe;
          }
      
          &::after {
              background: linear-gradient(360deg, transparent, #cb98fe);
          }
      }
  }

  &.monster {
    
      .portrait-card {
          border-image: radial-gradient(transparent, #ff4b0f, transparent) 1;
      }

      .monster-card {

          .monster-role {
              color: #ff4b0f;
          }
      
          &::after {
              background: linear-gradient(360deg, transparent, #ff4b0f);
          }
      }
  }
}

.hero-card,
.monster-card {
  position: relative;
  background-color: #020c26;
  overflow: hidden;
  
  &::after {
      content: '';
      position: absolute;
      background: linear-gradient(360deg, transparent, #ff4b0f);
      top: -35%;
      height: 100%;
      width: 100%;
      z-index: 0;
  }
}

.hero-card img.portrait-card,
.monster-card img.portrait-card {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  z-index: 2;
}

.hero-card .role-icon-container,
.monster-card .role-icon-container {
  width: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -59%);
  z-index: 3;
}

.hero-card .role-icon-container img,
.monster-card .role-icon-container img {
  display: block;
  background: transparent url(../img/role-icons.png) 0 0 no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: auto;
  background-size: 600%;
  width: 100%;
  height: 0;
  padding-bottom: 115%;
}

.monster-card .role-icon-container .monster {
  background-position: 20% 0;
}

.hero-card .role-icon-container .warrior {
  background-position: 0 0;
}

.hero-card .role-icon-container .archer {
  background-position: 100% 0;
}

.hero-card .role-icon-container .assasin {
  background-position: 80% 0;
}

.hero-card .role-icon-container .magician {
  background-position: 60% 0;
}

.hero-card .card-details,
.monster-card .card-details {
  padding: 15px;
}

.hero-card .hero-name,
.monster-card .monster-name {
  text-align: center;
  text-transform: uppercase;
  margin-top: 15%;
}

.hero-card-container.is-selected,
.monster-card-container.is-selected {
  position: relative;
}

.hero-card-container.is-selected::after,
.monster-card-container.is-selected::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .25);
}

#game .hero-card-container.is-selected::after,
#game .monster-card-container.is-selected::after {
  display: none;
}

.bouton {
  margin-top: 20px;
  padding: 5px 15px;
  cursor: pointer;
}

.bouton[disabled] {
  cursor: not-allowed;
}

/* GAME - VERSUS */

#game {
  display: none;

  h2 {
      margin: 0;
      padding: 25px 0;
  }

  .hero-card-container.is-selected,
  .monster-card-container.is-selected {

    .card-hp {
      width: 100%;
      height: 15px;
      background-color: #66FF66;
      transition: width 1s ease-in-out;
    }

    .card-mana {
      margin-top: 5px;
      margin-bottom: 10px;
      width: 100%;
      height: 15px;
      background-color: dodgerblue;
      transition: width 1s ease-in-out;
    }
  }

  #versus-container {
    display: flex;
    justify-content: space-evenly;

    #versus-image-container {
      text-align: center;
      width: 40%;

      #hps-wrapper {
        display: flex;
        align-items: center;
        
        #hero-hp-left {
          font-size: 4rem;
          width: 25%;
        }
  
        #monster-hp-left {
          font-size: 4rem;
          width: 25%;
        }
        
        #versus-image {
          max-width: 50%;
          padding-bottom: 5%;
        }
      }

      #versus-gamelog {
        padding: 15px;
        background-color: #020c26;
        border: 0;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-image: radial-gradient(transparent, #5d9dce, transparent) 1;
      }
    }

    .atk-container {
      display: block;
    }
  }
}

