* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(2, 16, 50);
  color: white;
}

header {
  width: 100vw;
  height: 250px;
  background-image: url("../img/banner-logo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
}

/* GAME - Selection */

#heroes,
#monsters {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero-card-container,
.monster-card-container {
  width: 25%;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hero-card,
.monster-card {
  position: relative;
}

.hero-card img.portrait-card,
.monster-card img.portrait-card {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  border-bottom: 1px solid black;
}

.hero-card .role-icon-container,
.monster-card .role-icon-container {
  width: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -60%);
}

.hero-card .role-icon-container img,
.monster-card .role-icon-container img {
  display: block;
  background: transparent url(../img/role-icons.png) 0 0 no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: auto;
  background-size: 600%;
  width: 100%;
  height: 0;
  padding-bottom: 115%;
}

.monster-card .role-icon-container .monster {
  background-position: 20% 0;
}

.hero-card .role-icon-container .warrior {
  background-position: 0 0;
}

.hero-card .role-icon-container .archer {
  background-position: 100% 0;
}

.hero-card .role-icon-container .assasin {
  background-position: 80% 0;
}

.hero-card .role-icon-container .magician {
  background-position: 60% 0;
}

.hero-card .hero-name,
.monster-card .monster-name {
  text-align: center;
  text-transform: uppercase;
  margin-top: 15%;
}

.hero-card-container.is-selected,
.monster-card-container.is-selected {
  position: relative;
}

.hero-card-container.is-selected::after,
.monster-card-container.is-selected::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .25);
}

#game .hero-card-container.is-selected::after,
#game .monster-card-container.is-selected::after {
  display: none;
}


.bouton {
  margin-top: 20px;
  padding: 5px 15px;
  cursor: pointer;
}

.bouton[disabled] {
  cursor: not-allowed;
}

/* GAME - VERSUS */

#versus-container {
  display: flex;
  justify-content: space-around;
}

.atk-container {
  display: block;
}